section .card:hover {
    margin-top: -6px;
    transition: 0.5s ease-in-out;
}

section .row .card h5, p {
    color: var(--text-color);
}

footer .card p {
    color: var(--text-color);
}

footer .card a {
    transition: 0.5s ease;
}
